<html>
      <head>
        <div> 
            <h1>
                <p style="text-align:center">Sobre nosotros</p>
            </h1>
        </div>
        <div> 
            <h1>
                <p style="text-align:center">Sobre HadesIndustry</p>
            </h1> 
        </div>
        <div>
            <h5>
                <p style="text-align:center">HadesIndustry es un grupo de trabajo de 2 desarroyadores de IA los cuales se dedican a crear adaptaciones para webs con IA i facilitar el uso y la navegacion por la web</p>
            </h5>
        </div>
        <div>
            <h5>
                <p style="text-align:center">HadesIndustry fue una idea creada por IliaArcasJimenez y apoyada por JaimeGarciaMontero en la cual se centraba en ciberseguridad pero fue avanzando y acabo por entrar en desarroyo de IA</p>
            </h5>
        </div>
        <div>
            <h5>
                <p style="text-align:center">Actualmente esta administrado por IliaArcasJimenez ya que JaimeGarciaMontero tuvo que dejar el grupo por motivos familiares</p>
            </h5>
        </div>
        <div>
            <h5>
                <p style="text-align:center"><div></p>
            </h5>
        </div>
        <div>
            <h3>
                ESTA EN PROCESO LA BIOGRAFIA ... 
            </h3>
        </div>
                      
      </head>

      <div>
       <footer class="footer">
        <p>&copy; HadesIndustry 2020 &copy;IliaArcasJimenez</p>
       </footer>
       </div>
</html>
<!--<div>-->
<!--    <h5>-->
<!--        <p style="text-align:center"></p>-->
<!--    </h5>-->
<!--</div>-->